In [1]:
import pandas as pd
import numpy as np

In [2]:
board = pd.read_csv("symtr_leftRight.csv", header=None)

In [3]:
type(board)
board.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
board.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11435 entries, 0 to 11434
Columns: 256 entries, 0 to 255
dtypes: int64(256)
memory usage: 22.3 MB

In [5]:
board.describe()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
count,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,...,11435.000000,11435.000000,11435.0,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000,11435.000000
mean,0.198513,0.454220,0.198426,0.305116,0.292173,0.265501,0.471447,0.191692,0.435155,0.743594,...,0.016791,0.029121,0.0,0.014692,0.005160,0.017840,0.004985,0.010931,0.003061,0.015916
std,0.398898,0.497922,0.398832,0.460477,0.454781,0.441619,0.499206,0.393649,0.495799,0.436668,...,0.128492,0.168153,0.0,0.120321,0.071648,0.132375,0.070429,0.103985,0.055242,0.125156
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df = np.array(board)

In [7]:
df

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [8]:
print(len(df))
print(len(df[0]))
n = len(df[0])
p = []

11435
256

# 第1行

## Board  --当前的棋局

In [9]:
p = []
for i in range(8):
    q = []
    for j in range(8):
        q.append(df[1][8*i+j])
    p.append(q)
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

## Flipped board ——可以下的地方

In [10]:
p = []
for i in range(8,16):
    q = []
    for j in range(8):
        q.append(df[1][8*i+j])
    p.append(q)
p

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 0, 0, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

## Player plane ——当前是哪一方下棋，用全是0和全是1区分

In [11]:
p = []
for i in range(16,24):
    q = []
    for j in range(8):
        q.append(df[1][8*i+j])
    p.append(q)
p

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

## move to learn ——选择下在什么地方，用一个1表示

In [12]:
p = []
for i in range(24,32):
    q = []
    for j in range(8):
        q.append(df[1][8*i+j])
    p.append(q)
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

# 第2行

In [13]:
p = []
n = 2
a = 0
b = 8
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0]]

In [14]:
p = []
n = 2

for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 0, 0, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 0, 1],
 [1, 1, 1, 1, 1, 1, 0, 1]]

In [15]:
p = []
n = 2

for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [16]:
p = []
n = 2

for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

# 第3行

In [17]:
p = []
n = 3
a = 0
b = 8
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 0, 0, 1, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0]]

In [18]:
p = []
n = 3
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[1, 1, 1, 1, 1, 1, 1, 1],
 [0, 0, 1, 1, 0, 0, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 0, 1],
 [1, 1, 1, 1, 1, 1, 0, 1]]

In [19]:
p = []
n = 3
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

In [20]:
p = []
n = 3
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

## 第20行

In [21]:
p = []
n = 20
a = 0
b = 8
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 1, 1, 1, 0, 0, 0, 0],
 [1, 1, 0, 1, 1, 1, 1, 1],
 [0, 1, 1, 1, 1, 0, 1, 1],
 [0, 1, 0, 0, 1, 1, 1, 0],
 [0, 1, 0, 1, 1, 1, 1, 1],
 [0, 1, 0, 1, 0, 1, 0, 1],
 [1, 1, 1, 1, 1, 0, 1, 1],
 [0, 0, 1, 0, 1, 0, 1, 0]]

In [22]:
p = []
n = 20
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[1, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 1, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 1, 0, 0],
 [1, 0, 1, 1, 0, 0, 0, 1],
 [1, 0, 1, 0, 0, 0, 0, 0],
 [1, 0, 1, 0, 1, 0, 1, 0],
 [0, 0, 0, 0, 0, 1, 0, 0],
 [1, 1, 0, 1, 0, 1, 0, 1]]

In [23]:
p = []
n = 20
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [24]:
p = []
n = 20
for i in range(a,b):
    q = []
    for j in range(8):
        q.append(df[n][8*i+j])
    p.append(q)
a = a+8
b = b+8
p

[[0, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0]]

In [25]:
df= pd.read_csv("log.csv", header = None)

In [26]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.drop([0],inplace=True)

In [ ]:
df

In [ ]:
df.drop([0],axis = 1, inplace=True)

In [ ]:
df[1,4:6]